# Python
__pycache__/
*.py[cod]
*$py.class

# Streamlit
.streamlit/secrets.toml
.streamlit/credentials.toml

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp

# OS
Thumbs.db
Desktop.ini
.DS_Store
